<div class="denke-form-container">
  <a href="/denkes/dashboard">Voltar</a>
  <h1>Criando um denke...</h1>
  <form action="/denkes/add" method="post">
    <div class="form-control">
      <input type="text" name="denke" id="denke" placeholder="Digite o pensamento que você quer compartilhar...">
    </div>
  <input type="submit" value="Publicar!">
  </form>
</div>