<div class="denke-form-container">
  <a href="/denkes/profile">Voltar</a>
  <h1>Criando um denke...</h1>
  <form autocomplete="off" action="/denkes/add" method="post">
    <div class="form-control">
      <input type="text" name="title" id="title" placeholder="Digite o pensamento que você quer compartilhar...">
    </div>
  <input type="submit" value="Publicar!">
  </form>
</div>