<div class="title-container">
  <h2>Editar denke</h2>
  <a href="/denkes/profile" class="btn">Voltar</a>
</div>
<div class="denke-form-container">
  <form autocomplete="off" action="/denkes/edit" method="post">
    <input type="hidden" name="id" value="{{denke.id}}">
    <textarea name="denkecontent" maxlength="250" id="denkecontent" placeholder="O que você quer compartilhar?">{{denke.denkecontent}}</textarea>
    <input type="submit" value="Editar">
  </form>
</div>
<div class="denkes-container">