@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&display=swap');

.denkes-container {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.denkes-container figure {
  font-family: "Libre Franklin" !important;
  padding: 10px 20px 30px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
  gap: 30px;
  min-height: 40px;
}

.denkes-container blockquote {
  font-size: 1.1em;
}

.denkes-container figcaption {
  color: #afafaf;
}

.denkes-container .date {
  color: #979797;
  font-size: 0.8em;
}

.denkes-container>a {
  text-decoration: none;
}

.denkes-container div>a {
  text-decoration: none;
}

.denkes-container figure:hover {
  background-color: #ebebeb;
}

.denkes-container div {
  position: relative;
}

.denkes-container .actions {
  display: flex;
  gap: 15px;
  justify-content: end;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.denkes-container .actions .btn {
  color:  #868686;
  font-weight: normal;
  border: unset;
  margin-bottom: unset;
  padding: 5px;
  font-size: 0.8em;
}

.denkes-container .actions .btn:hover {
  color: rgb(82, 82, 82);
  background-color: unset;
}