@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&display=swap');

.denkes-container {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.denkes-container figure {
  font-family: "Libre Franklin" !important;
  background-color: #f0f0f0;
  border-bottom: 1px solid #dfdfdf;
  padding: 15px;
}

.denkes-container blockquote {
  font-size: 1.1em;
  margin-bottom: 1em;
}

.denkes-container figcaption {
  color: #afafaf;
}

.denkes-container .date {
  color: #979797;
}

.denkes-container>div>figure>a:hover {
  color: #222 !important;
}

.denkes-container div>a {
  text-decoration: none;
}

.denkes-container figure:hover {
  background-color: #ebebeb;
}

.denkes-container div {
  position: relative;
}

.denkes-container .actions {
  display: flex;
  justify-content: end;
  position: absolute;
  bottom: 15px;
  right: 10px;
  height: 20px;
}

.denkes-container .actions .btn {
  color:  #868686;
  font-weight: normal;
  border: unset;
  margin-bottom: unset;
  padding: 5px;
  font-size: 0.8em;
}

.denkes-container .actions .btn:hover {
  color: rgb(82, 82, 82);
  background-color: unset;
}

.denkes-container .metainfo{
  display: flex;
  gap: 15px;
  font-size: 0.8em;
}

.replies {
  margin-left: 30px;
}

.denkes-container .reply-container .date{
  color: #979797;
}

.denkes-container .replied-denke figure{
  margin-right: 15%;
}

.denkes-container .reply-denke figure{
  margin-left: 15%;
}

.denkes-container .replied-denke figure,
.denkes-container .reply-denke figure {
  font-size: 0.8em;
  background-color: #d5d5d5;
}

.denkes-container .replied-denke blockquote a,
.denkes-container .reply-denke blockquote a{
  color: #3a3a3a;
}

.denkes-container .in-response-link{
  display: block;
  font-size: 0.8em;
  padding-bottom: 0.5em;
  color: rgb(134, 134, 134);
}