.filter-options-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-options-container form button {
  border: none;
}

.filter-options-container form button:hover{
  background-color: unset;
  color: #000;
}