.reply-container {
  max-width: 700px;
  margin: 0 auto;
}

.reply-container form {
  margin-bottom: 1em;
}

.reply-container figure {
  font-family: "Libre Franklin" !important;
  background-color: #dfdfdf;
  padding: 10px;
  margin-left: 15px;
}

.reply-container blockquote {
  margin-bottom: 0.5em;
  color: #6a6a6a;
}

.reply-container figcaption {
  font-size: 0.8em;
  font-style: italic;
  color: #8c8c8c;
}