.timeline-header{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.timeline-header span {
  color: #858585;
}

.search-form input {
  border: none;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 3px;
  padding: .5em;
}

.search-form input:focus {
  border-bottom: 1px solid rgb(204, 204, 204);
  outline: auto;
  outline: 2px solid #FF6982;
}