.timeline-header{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.timeline-header span {
  color: #858585;
}

.timeline-header input {
  border: none;
  border-bottom: 1px solid #fff;
  padding: .5em;
}

.timeline-header input:focus {
  border-bottom: 1px solid rgb(204, 204, 204);
  outline: unset;
}